.container{
    display: flex;
    gap: 30%;
    margin-left: 17%;
}

.description{
    font-size: x-large;
    width: 30%;
}

button{
    border-color: maroon;
    color: maroon;
    font-size: large;
    border-radius: 25px;
}

h3{
    white-space: none;
}

.image{
width: 250%;
height: 100%;
border-radius: 12px;
}

.date{
    margin-top: 2px;
}

h6{
    color: maroon;
}
h1{
    color: maroon;
    text-align: center;
}

.read{
    text-decoration: none;
    color: brown;
}

.contain{
    position: fixed;
    font-size: medium;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.contain-modal{
    background-color: #FEFEFE;
    margin: 15% auto;
    padding: 40px;
    border: 2px solid #888;
    box-shadow: rgb(5, 31, 5);
    width: 80%;

}
.title{
    text-align: center;
    border: 3px;
    border-color: black;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.research{
    color: maroon;
    font-size: xx-large;
    text-decoration: none;
    font-size: x-large;
    margin-left: 70%;
    
}

.contain{
    z-index: 9999;;
}

@media (min-width:320px) and (max-width:380px){
    .container{
        
        display: flex;
        flex-wrap: wrap;
        margin-left: 20%;
    } 

    .description{
        font-size: medium;
        width: 60%;
    }

    .image{
        margin-right: -19px;
        width: 100%;
        height: 85%;
        border-radius: 12px;
        }
        h1{
            color: maroon;
            text-align: center;
            font-size: 30px;
        }

        .research{
            color: maroon;
            font-size: 20px;
            text-decoration: none;
            width: 20px;
            margin-left: 2px;
            
        
        }

        button{
            border-color: maroon;
            color: maroon;
            font-size: medium;
            border-radius: 25px;
            margin-top: 20px;
        }

        .contain-modal{
            background-color: #FEFEFE;
            margin: 15% auto;
            padding: 40px;
            border: 2px solid #888;
            box-shadow: rgb(5, 31, 5);
            width: 70%;
        
        }
}


@media (min-width:390px) and (max-width:580px){
    .container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 18%;
    } 

    .description{
        font-size: medium;
        width: 60%;
    }

    .image{
        width: 100%;
        height: 85%;
        border-radius: 12px;
        
        }
        h1{
            color: maroon;
            text-align: center;
            font-size: 30px;
        }

        .research{
            color: maroon;
            font-size: 20px;
            text-decoration: none;
            width: 20px;
            margin-left: 2px;
            
        
        }

        button{
            border-color: maroon;
            color: maroon;
            font-size: medium;
            border-radius: 25px;
            margin-top: 20px;
        }

        .contain-modal{
            width: 70%;
        
        }
}

@media (min-width:700px) and (max-width:890px){
    .container{
        display: flex;
        gap: 10px;
        /* margin-left: 20%; */
    } 


    .description{
        font-size: medium;
        width: 50%;
    }

    .image{
        margin-left: -50px;
        width: 120%;
        height: 85%;
        border-radius: 12px;
        }
        h1{
            color: maroon;
            text-align: center;
            font-size: 30px;
        }

        .research{
            color: maroon;
            font-size: 15px;
            text-decoration: none;
            width: 20px;
            margin-left: 2px;
            
        
        }

        button{
            border-color: maroon;
            color: maroon;
            font-size: medium;
            border-radius: 25px;
            margin-top: 20px;
        }

        .contain-modal{
            background-color: #FEFEFE;
            margin: 15% auto;
            padding: 40px;
            border: 2px solid #888;
            box-shadow: rgb(5, 31, 5);
            width: 70%;
        
        }
}

@media (min-width:900px) and (max-width:1300px){
    .container{
        display: flex;
        gap: 20px;
        margin-left: 15%;
    } 


    .description{
        font-size: medium;
        width: 50%;
    }

    .image{
        width: 100%;
        height: 85%;
        border-radius: 12px;
        }
        h1{
            color: maroon;
            text-align: center;
            font-size: 30px;
        }

        .research{
            color: maroon;
            font-size: 15px;
            text-decoration: none;
            width: 20px;
            margin-left: 2px;
            
        
        }

        button{
            border-color: maroon;
            color: maroon;
            font-size: medium;
            border-radius: 25px;
            margin-top: 20px;
        }

        .contain-modal{
            background-color: #FEFEFE;
            margin: 15% auto;
            padding: 40px;
            border: 2px solid #888;
            box-shadow: rgb(5, 31, 5);
            width: 70%;
        
        }
}


